<div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body" style="color: black">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title text-center">Shutdown Settings</h3>
                    <form class="settings-style">
                        <div class="form-group">
                            <label for="time">Turn off in:</label>
                            <div id="time" class="input-container-time">
                                <input type="number" class="form-control input-time" id="hours" placeholder="Hours">
                                <input type="number" class="form-control input-time" id="minutes" placeholder="Minutes">
                                <input type="number" class="form-control input-time" id="seconds" placeholder="Seconds">
                            </div>
                            <input type="checkbox" name="turnOffNow" id="turnOffNow"> Turn Off Now
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button  type="button" class="btn btn-default" id="shutdownConfirm">
                        Apply
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/shutdown.js"></script>