@font-face {
    font-family: nunitoSansLight;
    src: url(../fonts/nunitoSans/NunitoSans-Light.ttf);
}
body{
    padding: 1%;
    margin-top: 4%;
    color: white;
    background: #36393e;
    font-family: "nunitoSansLight";
}

.actions-container{
    font-size: 25px;
    float: left;
    width: 33%;
    cursor: pointer;
}

#offContainer{
    color: #f67280;
}

#offContainer:hover{
    color: #F63C51;
}

#rebootContainer{
    color: #17a2b8;
}

#rebootContainer:hover{
    color: #007bff;
}

#signOutContainer{
    color: #FFD500;
}

#signOutContainer:hover{
    color: #FBBA00;
}

.input-container-time{
   width: 100%;
}

.input-time{
    float: left;
    width: 30%;
    margin-left: 3%;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.input-time:focus {
    color: #495057;
    background-color: #fff;
    border-color: black;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0,123,255,.25);
}

/*#shutdownConfirm > .buttonText,*/
/*#cancelButton > .buttonText{*/
    /*visibility: hidden;*/
/*}*/

/*#shutdownConfirm > .buttonIcon,*/
/*#cancelButton > .buttonIcon{*/
    /*visibility: visible;*/
/*}*/

/*#shutdownConfirm:hover > .buttonText,*/
/*#cancelButton:hover > .buttonText{*/
    /*transition: all 0.5s;*/
    /*visibility: visible;*/
/*}*/

/*#shutdownConfirm:hover > .buttonIcon,*/
/*#cancelButton:hover > .buttonIcon{*/
    /*visibility: hidden;*/
/*}*/